	
body {
	margin: 0px;
	padding-top: 0px;
	font-family: Calibri Light;
		/*background-image: url("mars.jpg");
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;*/
}

.bg-img {
	/* The image used */
	background-image: url("project3.jpg");
  
	min-height: 380px;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  
	/* Needed to position the navbar */
	position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
	position: absolute;
	margin: 20px;
	width: auto;
  }
  
  /* The navbar */
  .topnav {
	overflow: hidden;
	background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }


/*The following CSS is required for the Navigation bar, so that it will slide down as you scroll */

 /* Style the navbar */
 #navbar {
	overflow: hidden;
	background-color: transparent;
  }
  
  /* Navbar links */
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  /* Page content */
  .content {
	padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 60px;
  } 
  
/* --- End of Navigation bar --- */


div.maincontent { 

	word-wrap: break-word;
	text-align: justify;
	margin-left:0px;
	margin-top:0pt;
}

/*Below is the old stuff */
.demo-2 {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5)
}
.demo-2 p,.demo-2 h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative
}
.demo-2 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-2 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
 
.pic {
  border: 10px solid #fff;  
  float: left;
  height: 300px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
  
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}
/*GROW*/
.grow img {
  height: 300px;
  width: 300px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 330px;
  height: 330px;
}

/*Main headers;*/
	
	h1 { 
		display: block;
		font-size: 24pt;
		font-family: Calibri Light;
		margin-top: 0.67em;
		margin-bottom: 0.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	
	
	
	h2 { 
		display: block;
		font-size: 16pt;
		font-family: Calibri Light;
		margin-top: 50px;
		margin-bottom: 20px;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;

	}
	

	
	div.creditline { 

		font-size: 10pt;
		font-family: Calibri;
		font-style: italic;
		margin-top:30px;
		margin-bottom:10pt;
	}
	
	
	/* List menus - used in top and left title bars*/
	
	ul.topmenu_ul {
		list-style-type:none;
		margin-top:0px;
		width:100%;
		padding:0px;
		background-color:white;
		position:fixed;
		overflow:hidden;
		z-index:1;	
		
	}
	
	li.topmenu_ul {
		display:inline;
	}
	
	ul.research_ul {
		list-style-type:none;
		margin-top:0px;
		padding:0px;
		height:180px;
		background-color:white;
		width:100%;
		overflow:hidden;
		margin-left:0px;
		z-index:1;
	}
	
	li.research_ul {
		display:inline;
	}
	
	
	ul.topmenu_index_ul {
		list-style-type:none;
		margin-top:0px;
		width:100%;
		padding:0px;
		background-color:transparent;
		position:fixed;
		overflow:hidden;
		z-index:1;	
	}
	

	ul.sidemenu_ul {
		list-style-type:none;
		font-size: 10pt;
		font-family: Calibri;
		margin: 0;
		padding: 0;
		width: 150px;
		background-color:white;
		position:fixed;
		top:400px;
		
	}
	
	ul.hashtag_ul {
		list-style-type:none;
		font-size: 10pt;
		font-family: Calibri light;
		margin-left: 20px;
		padding: 0;
		width: 10%;
		background-color:white;
		position:fixed;
		bottom:10%;
		
	}
	
	ul.address_ul {
		list-style-type:none;
		font-size: 10pt;
		font-family: Calibri light;
		margin-left: 20px;
		padding: 0;
		width: 10%;
		background-color:white;
		position:fixed;
		bottom:10%;
		
	}
	
	ul.index_ul {
		list-style-type:none;
		width: 100%;
		margin:auto;
		background-color:white;
		position:absolute;
		top:200px;
		left:0%;
		font-size: 24pt;
		font-style:italic;
		font-family: Calibri Light;
		text-align:center;
		opacity:0.5;
		
	}	
		
	/* Tables */
	

	table.maincontent, td {
		margin:auto;
		border: 0px;		
		background: transparent;
		font-size: 12pt;
		padding: 5px;
		text-align:justify;		
	}

	
	
	
	/* Below we define the colour of all of the hyperlinks */
	
		/* Side Menu */
	a.sidemenu:link, a.sidemenu:visited {
		background-color: white;
		color: orange;
		padding: 3px 21px;
		text-align: center; 
		text-decoration: none;
		font-size: 12pt;
		display: inline-block;
	}

	a.sidemenu:hover, a.sidemenu:active {
		background-color: white;
	}
	
	a.hashtag:link, a.hashtag:visited {
		background-color: white;
		color: orange;
		padding: 0px 0px;
		text-align: center; 
		text-decoration: none;
		font-size: 12pt;
		display: inline-block;
	}

	a.hashtag:hover, a.hashtag:active {
		background-color: white;
	}
	
		/* Header Titles */
	a.title:link, a.title:visited {
		background-color: transparent;
		color: black;
		padding: 14px 14px;
		text-align: center; 
		text-decoration: none;
		font-size: 12pt;
		display: inline-block;
	}

	a.title:hover, a.title:active {
		background-color: orange;
	}

