	
	body {
		margin: 0px;
		padding-top: 0px;
		font-family: Calibri Light;
			/*background-image: url("mars.jpg");
			background-repeat: no-repeat;
			background-position: right top;
			background-attachment: fixed;*/
      }
	


/*Main headers;*/
	
	h1 { 
		display: block;
		font-size: 24pt;
		font-family: Calibri Light;
		margin-top: 0.67em;
		margin-bottom: 0.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	
	
	
	h2 { 
		display: block;
		font-size: 16pt;
		font-family: Calibri Light;
		margin-top: 50px;
		margin-bottom: 20px;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;

	}

	
	div.maincontent { 

		word-wrap: break-word;
		text-align: justify;
		margin-left:0px;
		margin-top:0pt;
	}
	
	div.creditline { 

		font-size: 10pt;
		font-family: Calibri;
		font-style: italic;
		margin-top:30px;
		margin-bottom:10pt;
	}
	
	
	/* List menus - used in top and left title bars*/
	
	ul.topmenu_ul {
		list-style-type:none;
		margin-top:0px;
		width:100%;
		padding:0px;
		background-color:white;
		position:fixed;
		overflow:hidden;
		z-index:1;	
		
	}
	
	li.topmenu_ul {
		display:inline;
	}
	
	ul.research_ul {
		list-style-type:none;
		margin-top:0px;
		padding:0px;
		height:180px;
		background-color:white;
		width:100%;
		overflow:hidden;
		margin-left:0px;
		z-index:1;
	}
	
	li.research_ul {
		display:inline;
	}
	
	
	ul.topmenu_index_ul {
		list-style-type:none;
		margin-top:0px;
		width:100%;
		padding:0px;
		background-color:transparent;
		position:fixed;
		overflow:hidden;
		z-index:1;	
	}
	

	ul.sidemenu_ul {
		list-style-type:none;
		font-size: 10pt;
		font-family: Calibri;
		margin: 0;
		padding: 0;
		width: 150px;
		background-color:white;
		position:fixed;
		top:400px;
		
	}
	
	ul.hashtag_ul {
		list-style-type:none;
		font-size: 10pt;
		font-family: Calibri light;
		margin-left: 20px;
		padding: 0;
		width: 10%;
		background-color:white;
		position:fixed;
		bottom:10%;
		
	}
	
	ul.address_ul {
		list-style-type:none;
		font-size: 10pt;
		font-family: Calibri light;
		margin-left: 20px;
		padding: 0;
		width: 10%;
		background-color:white;
		position:fixed;
		bottom:10%;
		
	}
	
	ul.index_ul {
		list-style-type:none;
		width: 70%;
		margin:auto;
		background-color:white;
		position:absolute;
		top:200px;
		left:15%;
		font-size: 24pt;
		font-style:italic;
		font-family: Calibri Light;
		text-align:center;
		opacity:0.5;
		
	}	
		
	/* Tables */
	

	table.maincontent, td {
		margin:auto;
		border: 0px;		
		background: transparent;
		font-size: 12pt;
		padding: 5px;
		text-align:justify;		
	}

	
	
	
	/* Below we define the colour of all of the hyperlinks */
	
		/* Side Menu */
	a.sidemenu:link, a.sidemenu:visited {
		background-color: white;
		color: orange;
		padding: 3px 21px;
		text-align: center; 
		text-decoration: none;
		font-size: 12pt;
		display: inline-block;
	}

	a.sidemenu:hover, a.sidemenu:active {
		background-color: white;
	}
	
	a.hashtag:link, a.hashtag:visited {
		background-color: white;
		color: orange;
		padding: 0px 0px;
		text-align: center; 
		text-decoration: none;
		font-size: 12pt;
		display: inline-block;
	}

	a.hashtag:hover, a.hashtag:active {
		background-color: white;
	}
	
		/* Header Titles */
	a.title:link, a.title:visited {
		background-color: transparent;
		color: black;
		padding: 14px 14px;
		text-align: center; 
		text-decoration: none;
		font-size: 12pt;
		display: inline-block;
	}

	a.title:hover, a.title:active {
		background-color: orange;
	}

