body {
	margin: 0px;
	padding-top: 0px;
	font-family: Calibri Light;
}

.header {
	background-image: url("01.jpg");
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	  
	/* Needed to position the navbar */
	position: relative;
  }
  	
  
  /* Position the navbar */
  .container {
	position: absolute;
	margin: 20px;
	width: auto;
  }
  
  /* The navbar */
  .topnav {
	overflow: hidden;
	background-color: transparent;
  }
  
  /* Navbar links */
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 22px;
  }
  
  .topnav a:hover {
	background-color: orange;
	color: black;
  }


/*The following CSS is required for the Navigation bar, so that it will slide down as you scroll */

 /* Style the navbar */
 #navbar {
	/* overflow: hidden; */
	background-color: black;
  }
  
  /* Navbar links */
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  /* Page content */
  .content {
	padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 60px;
  } 
  
/* --- End of Navigation bar --- */


.maincontent { 

	word-wrap: break-word;
	text-align: justify;
	margin-left:10%;
	margin-right:10%;
}

.maincontent_blue { 

	word-wrap: break-word;
	text-align: justify;
	margin-left:0%;
	margin-right:0%;
	background-color: rgb(217, 223, 223);
	height: 100%;
}

.maincontent_grey { 

	word-wrap: break-word;
	text-align: justify;
	margin-left:0%;
	margin-right:0%;
	/* background-color: rgb(217, 223, 223); */
	height: 100%;
}

/* for floating boxes */
.card {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    width: 400px;
    height: 400px;
    background: #262626;
    overflow: hidden;
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}
.card .imgBx {
    top: 0;
    left: 0;
}
.card:hover .imgBx {
    top: 0;
    left: -100%;
}
.card .imgBx img {
    width: 100%;
}
.card .details {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}
.card:hover .details {
    top: 0;
    left: 0%;
}
.card .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    /* padding: 0 0 10px; */
    border-bottom: 2px solid #fff;

}
.card .details p {
    margin: 20px 0 0;
    color: #fff;
}


/* The following is for making profile images */

.researchimage {
    position: relative;
}
    
.researchimage:hover:after {
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: 0px;
    padding: 5px;
    background-color: black;
    color: white;
	/* width: 100%;
	max-width: 400px;
	height: auto; */
	height: auto;
	
}



.container_img {
	position: relative;
	width: 200px;
	z-index: -5;
  }
  .profile_img {
	display: block;
	width: 250px;
	/* height: 200px; */
	/* border-radius: 50%; */
	opacity: 5;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  .image_img {
	object-fit: cover;
	/* width: 400px;
	height: 400px; */
	width:100%;
	height: 100%;
	display: block;
	/* width: 400px; */
	/* height: 200px; */
	/* border-radius: 50%; */
	opacity: 5;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  
  .overlay_img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 18px;
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	margin-left: 0px;
	opacity: 0;
	overflow: hidden;
	transition: .5s ease;
	background-color: #99cc33;
  }
  
  .container_img:hover .overlay_img {
	opacity: 1;
  }
  
/* Define the information boxes next to each photo */
  .infobox { 

	font-size: 22px;
/* font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; */
	margin-top: 0em;
	margin-bottom: 0em;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	vertical-align: middle;
	/* background-color: #ffffff; */
	text-align: justify;
	width: 100%;

	padding: 20px 0px 20px 0px;

}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows: repeat(4, 1fr); */
	/* grid-template-columns: auto auto auto; */
	background-color: transparent;
	/* opacity: 0.5; */
	padding: 20px 20px 20px 20px;
  }
  .grid-title {
	background-color: transparent;
	border: 0px solid rgba(0, 0, 0, 0.8);
	padding: 20px 20px 20px 20px;
	font-size: 22px;
	/* height: 100px; */
	/* overflow-wrap: break-word; */
	/* width: 100px; */
	text-align: center;
  }
  
  .grid-item {
	background-color: transparent;
	border: 0px solid rgba(0, 0, 0, 0.8);
	padding: 20px 20px 20px 20px;
	font-size: 22px;
	/* height: 400px; */
	/* width: 100px; */
	text-align: center;
  }
  


/* 
.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	vertical-align: middle;
	background-color: #99cc33;
	padding: 50px 75px 30px;
  
  }
  
  .grid-container > div {
	background-color: #99cc33;
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
	border: 0px solid black;
	text-align: justify;
	  vertical-align: middle;
	color:white;
	font-size: 16pt;
  }
  
  .grid-containerwhite {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	background-color: white;
	padding: 0px 75px 0px;
  
  }
  
  .grid-containerwhite > div {
	background-color: white;
	font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
	border: 0px solid black;
	text-align: justify;
	color:black;
	opacity: 5;
	vertical-align: middle;
  
	font-size: 16pt;
  }
   */












/*Below is the old stuff */
.demo-2 {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5)
}
.demo-2 p,.demo-2 h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative
}
.demo-2 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-2 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
 
.pic {
  border: 10px solid #fff;  
  float: left;
  height: 300px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
  
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}
/*GROW*/
.grow img {
  height: 300px;
  width: 300px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 330px;
  height: 330px;
}

/*Main headers;*/
	
	h1 { 
		display: block;
		font-size: 8vw;
		font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
		margin-top: 0.4em;
		margin-bottom: 0.20em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
		color:white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		/* position: absolute; */
		/* bottom: 20px;
		left: 20px; */
	}
	
	
	h2 { 
		display: block;
		font-size: 24pt;
		font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
		/* font-family: Calibri Light; */
		padding: 20px 20px 20px 20px;
		margin-top: 50px;
		margin-bottom: 20px;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;

	}
	
	h3 { 
		display: block;
		font-size: 18pt;
		font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif; 
		margin-top: 50px;
		margin-bottom: 20px;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;

	}
	

	div.creditline { 

		font-size: 10pt;
		font-family: Calibri;
		font-style: italic;
		margin-top:30px;
		margin-bottom:10pt;
	}
	
	
	/* List menus - used in top and left title bars*/
	
	ul.topmenu_ul {
		list-style-type:none;
		margin-top:0px;
		width:100%;
		padding:0px;
		background-color:white;
		position:fixed;
		overflow:hidden;
		z-index:1;	
		
	}
	
	li.topmenu_ul {
		display:inline;
	}
	
	ul.research_ul {
		list-style-type:none;
		margin-top:0px;
		padding:0px;
		height:180px;
		background-color:white;
		width:100%;
		overflow:hidden;
		margin-left:0px;
		z-index:1;
	}
	
	li.research_ul {
		display:inline;
	}
	
	
	ul.topmenu_index_ul {
		list-style-type:none;
		margin-top:0px;
		width:100%;
		padding:0px;
		background-color:transparent;
		position:fixed;
		overflow:hidden;
		z-index:1;	
	}
	

	ul.sidemenu_ul {
		list-style-type:none;
		font-size: 10pt;
		font-family: Calibri;
		margin: 0;
		padding: 0;
		width: 150px;
		background-color:white;
		position:fixed;
		top:400px;
		
	}
	
	ul.hashtag_ul {
		list-style-type:none;
		font-size: 10pt;
		font-family: Calibri light;
		margin-left: 20px;
		padding: 0;
		width: 10%;
		background-color:white;
		position:fixed;
		bottom:10%;
		
	}
	
	ul.address_ul {
		list-style-type:none;
		font-size: 10pt;
		font-family: Calibri light;
		margin-left: 20px;
		padding: 0;
		width: 10%;
		background-color:white;
		position:fixed;
		bottom:10%;
		
	}
	
	ul.index_ul {
		list-style-type:none;
		width: 100%;
		margin:auto;
		background-color:white;
		position:absolute;
		top:200px;
		left:0%;
		font-size: 24pt;
		font-style:italic;
		font-family: Calibri Light;
		text-align:center;
		opacity:0.5;
		
	}	
		
	/* Tables */
	

	table.maincontent, td {
		margin:auto;
		border: 0px;		
		background: transparent;
		font-size: 12pt;
		padding: 5px;
		text-align:justify;		
	}

	
	
	
	/* Below we define the colour of all of the hyperlinks */
	
		/* Side Menu */
	a.sidemenu:link, a.sidemenu:visited {
		background-color: white;
		color: orange;
		padding: 3px 21px;
		text-align: center; 
		text-decoration: none;
		font-size: 22pt;
		display: inline-block;
	}

	a.sidemenu:hover, a.sidemenu:active {
		background-color: white;
	}
	
	a.hashtag:link, a.hashtag:visited {
		background-color: white;
		color: orange;
		padding: 0px 0px;
		text-align: center; 
		text-decoration: none;
		font-size: 12pt;
		display: inline-block;
	}

	a.hashtag:hover, a.hashtag:active {
		background-color: white;
	}
	
		/* Header Titles */
	a.title:link, a.title:visited {
		background-color: transparent;
		color: black;
		padding: 14px 14px;
		text-align: center; 
		text-decoration: none;
		font-size: 18pt;
		display: inline-block;
	}

	a.title:hover, a.title:active {
		background-color: orange;
	}

